.sidebar {
    background-color: $color-black;
    z-index: 99;
    min-height: 158vh;
}

.sidebar-content {
    padding: 0;
}

.sidebar-row {
    top: 0;
    position: sticky;
}

.sidebar-title {
    font-family: $fancy-font;
    color: $color-white;
    text-align: left;
    padding-left: 16px;
    padding-top: 10px;
    h3 {
        font-size: 24px;
    }
}

.links ul {
    list-style-type: none;
    padding: 0;
    li {
        padding: 8px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            border-left: 4px solid $color-orange;
        }
    }
    li span {
        padding-left: 20px;
    }
    li a {
        text-decoration: none;
        color: $color-gray;
        .icon {
            height: 20px;
            width: 20px !important;
            color: #fff;
            background-image: url("../../images/person_1.png");
            background-color: white;
        }
    }
    li a:hover {
        color: $color-white;
    }
}

.manager {
    border-top: 1px solid $color-gray;
}

.manager h3 {
    font-size: 18px;
    padding-top: 10px;
    position: relative;
}

.manager .name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    h3 {
        font-size: 16px;
    }
    img {
        height: 50px;
        width: 50px;
    }
    span {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
        left: 38px;
        top: 16px;
    }
}

.manager h4 {
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    &:hover {
        cursor: pointer;
    }
}

.hamburger-btn {
    display: none;
    justify-content: center;
    z-index: 99;
}

.hamburger-btn a i {
    color: $color-gray;
    padding: 12px 0 0 0;
    font-size: 24px;
    
    &:hover {
        color: $color-orange;
    }
}


@media (max-width: 991px) {
    .hamburger-btn {
        display: block;
        background-color: $color-black;
        padding: 0;
        margin-left: -1px;
        .burger-row {
            top: 0;
            position: sticky;
            .burger-col {
                display: flex;
                justify-content: center;
            }
        }
    }
    .sidebar {
        display: none;
        padding-right: 0;
        padding-left: 10px;
    }
    .sidebar-active {
        display: block;
    }
    .manager {
        border: none;
        padding: 0 10px;
        h3 {
            margin: 12px 0;
        }
    } 
    .links ul li span {
        padding-left: 14px;
    } 
    #data-spn {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .links ul li span {
        padding-left: 5px;
    } 
    .sidebar {
        padding-right: 2px;
    }
    #data-spn {
        font-size: 14px;
    }
    .manager {
        border: none;
        padding: 0 10px;
        h3 {
            margin: 12px 0;
        }
    } 
}