*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: $font-size;
    line-height: 1.7;
    font-family: $main-font;
    color: $color-gray;
    
}

.container {
    border: 3px solid black;
    margin: 0;
}

.row {
    border: 3px solid green;
}

.col-2, .col-10, .col-3, .col-9, .col-1, .col-4, .col-5, .col-6, .col-7, .col-8, .col-12, .col-11 {
    border: 3px solid red;
}

.header {
    height: 15%
}

.page-container {
    height: 85%;
}