.links-bx {
    padding: 0 0 198px 0 !important;
    min-height: 100% !important;
}

.banners-bx {
    padding: 0 0 228px 0 !important;
    min-height: 100% !important;
}

.table-links {
    margin: 20px 0;
    td {
        padding: 8px 60px;
        a {
            text-decoration: none;
        }
        i {
            padding: 0 6px;
            visibility: hidden;
        }
        &:hover {
            cursor: pointer;
            i {
                visibility: visible;
                color: $color-gray;
                &:hover {
                    color: $color-orange;
                }
            }
        }
    }
    td:first-of-type {
        font-weight: bold;
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    
    .table-links tr {
        display: flex;
        flex-direction: column;
    }
}