.payouts-container {
    border: 1px solid red;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.payouts-bx {
    padding: 0 0 136px 0 !important;
}

.payouts-table-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid $color-gray-light;
    padding: 20px 0;  
    
}

.payouts-table-container {
    overflow-x: scroll;
    width: 700px;
    height: 500px;
    padding: 0 30px;
    th, td {
        padding: 8px 72px;
    }
}

.payouts-table {
    table-layout: fixed;
    border-collapse: collapse;
}