.icons-gray {
    fill: $color-gray;
    height: 20px;
    width: 20px;
    margin: 0 6px;
    padding: 2px;
}

.icons-white {
    fill: $color-gray;
    height: 20px;
    width: 20px;
    margin: 0;
}