.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  
    justify-content: center;
    align-items: center;
  
    overflow: auto;
    padding: 30px;
  
    display: none;
}

.overlay-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;

  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  justify-content: center;
  align-items: center;

  overflow: auto;
  padding: 30px;

  display: none;
}

.overlay-content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  
    justify-content: center;
    align-items: center;
  
    overflow: auto;
    padding: 30px;
  }

  .overlay.show {
    display: flex;
  }

  .overlay::webkit-scrollbar {
    display: none;
  }

  .modal {
    max-width: 600px;
    width: 600px;
    margin: auto;
    background-color: #ffffff;
    padding: 0 0 10px 0;
    display: none;
  }

  .modal.show {
    display: block;
  }

  .modal .btn-close {
    padding: 5px 15px;
    font-size: 22px;
    &:hover {
      cursor: pointer;
    }
  }

  .modal-title {
      border-bottom: 1px solid $color-gray-light;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      h3 {
          font-size: 16px;
          padding: 10px 20px;
          margin: 0;
      }
  }

  .modal-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $color-gray-light;
    padding: 10px;
    img {
        height: 50px;
        width: 50px;
    }
    .modal-name-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 16px;
      span {
          background-color: green;
          border-radius: 3px;
          color: white; 
          text-align: center; 
          font-size: 10px;
      }
      h4 {
        font-size: 16px;
        margin: 0;
      }
    }
}

.modal-message-1 {
  padding: 10px 10px 120px 10px;
  border-bottom: 1px solid $color-gray-light;
  span {
    background-color: $color-gray-light;
    color: $color-gray;
    padding: 10px 20px;
    margin: 10px;
    display: block;
    border-radius: 3px;
  }
  .answer {
    text-align: right;
    background-color: $color-gray;
    color: white;
    display: none;
  }
  .answer-back {
    text-align: left;
    background-color: $color-gray-light;
    color: $color-gray;
    display: none;
  }
  .answer-active {
    display: block;
  }
}

.modal-message-box {
  padding: 20px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  input[type="text"] {
    flex: 0 0 70%;
    border: 1px solid $color-gray;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 10px;
    outline: none;
  }
  input[type="submit"] {
    flex: 0 0 25%;
    margin: 5px 10px;
    border: none;
    background-color: $color-orange;
    color: white;
    padding: 10px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}



@media (min-width: 768px) and (max-width: 991px) {
  .overlay.show,.overlay-nav.show {
    display: block;
  }
  .modal {
    max-width: 500px;
  }
}

@media (max-width: 767px) {
  .overlay.show, .overlay-nav.show {
    display: block;
  }
  .modal {
    max-width: 320px;
  }
  .modal-message-box {
    flex-direction: column;
    
  }
}