.page-container {
    height: auto;
    min-height: 110vh;
    margin: 20px 2px;
    width: 100%;
} 

.page-box {
    background-color: white;
    padding: 0;
}

.page {
    display: none;
}

.page-active {
    display: block;
}

.link-active {
    color: $color-white !important;
}
